.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow: hidden;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 100px;
      line-height: 88px;
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    .phone-svg {
      stroke: #fff;
      position: absolute;
      margin: auto;
      z-index: 0;
      // background: black;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input::placeholder,
      textarea::placeholder {
        color: #fff;
        font-style: italic;
        letter-spacing: 2px;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 5px;
        outline-color: #fff;
      }

      button {
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
